<footer>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <p>Contact us:</p>
          <ul>
            <li>Email: support@railwayticketingsystem.com</li>
            <li>Phone: +1-800-123-4567</li>
          </ul>
        </div>
        <div class="col-md-6">
          <p>Follow us:</p>
          <ul class="social-media">
            <li><a href="https://www.facebook.com/railwayticketingsystem"><img src="./facebook-new.png" alt="">FB<i class="fab fa-facebook"></i></a></li>
            <li><a href="https://twitter.com/railwayticketsys"><img src="twitter.png" alt=""><i class="fab fa-twitter">twitter</i></a></li>
            <li><a href="https://www.instagram.com/railwayticketingsystem"><img src="instagram-new.png" alt="">Instagram<i class="fab fa-instagram"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <!-- <p>&copy; 2023 Railway Ticketing System. All rights reserved.</p> -->
        </div>
      </div>
    </div>
  </footer>