<div>
    <h1>About Us</h1>
<p>
    Welcome to our railway ticket booking app! Our mission is to make train travel more accessible, affordable, and
    convenient for everyone.

    We understand the importance of hassle-free travel and our app is designed to provide you with a seamless experience
    when it comes to booking train tickets. Our platform is user-friendly and allows you to easily search for trains,
    check availability, and book tickets in a few simple steps.

    We also offer a range of payment options to suit your needs, including credit/debit cards, net banking, and mobile
    wallets. Our app also provides you with real-time updates on train schedules and ticket status, so you can plan your
    journey with ease.

    Customer satisfaction is our top priority and we are committed to providing you with the highest level of service.
    Our customer support team is always available to assist you with any queries or concerns you may have.

    Thank you for choosing our railway ticket booking app. We look forward to serving you and making your train travel
    experience a smooth and enjoyable one.
</p>
</div>