<nav>
    <ul>
      <li><a routerLink="/" routerLinkActive="active">Home</a></li>
      <li><a routerLink="/profile" routerLinkActive="active">Profile</a></li>
      <li><a routerLink="/booking" routerLinkActive="active">Book a Ticket</a></li>
      <li><a routerLink="/History" routerLinkActive="active">Booking History</a></li>
      <li><a routerLink="/tickets" routerLinkActive="active">Cancel Ticket</a></li>
      <li><a routerLink="/support" routerLinkActive="active">Customer Support</a></li>
    </ul>
  </nav>
  