<div class="container">
    <h1>Payment Page</h1>
    <form>
      <div class="form-group">
        <label for="cardNumber">Card Number : </label>
        <input type="text" class="form-control" id="cardNumber" required>
      </div>
      <div class="form-group">
        <label for="cardName">Cardholder Name : </label>
        <input type="text" class="form-control" id="cardName" required>
      </div>
      <div class="form-group">
        <label for="expiryDate">Expiry Date : </label>
        <input type="text" class="form-control" id="expiryDate" placeholder="MM/YY" required>
      </div>
      <div class="form-group">
        <label for="cvv">CVV : </label>
        <input type="password" class="form-control" id="cvv" maxlength="3" required>
      </div>
      <div class="form-group">
        <label for="pass">password : </label>
        <input type="password" class="form-control" id="cvv" [(ngModel)]="pass" minlength="8" required>
      </div>
      <div class="form-group">
        <label for="Cpass">Confirm password : </label>
        <input type="password" class="form-control" id="cvv" [(ngModel)]="Cpass" minlength="8" required>
      </div>
      <button type="submit" (click)="onSubmit()" class="btn btn-primary">Pay</button>
    </form>
  </div>
  